nav{
  height: 8vh;
  background-color: black;
  position: sticky;
  display: flex;
  top:0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img{
  height: 6vh;
  margin:0 10px;
}

.links{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: medium;
  font-family: "Nerko One", cursive;
  margin:0 10px;
}
a{
  margin : 0 10px;
  text-decoration: none;
  color: rgb(216, 180, 84);
}

a:hover{
  text-decoration: underline ;

}
