*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    max-width:100vw;
    overflow-x: hidden;
}

nav{
    height: 8vh;
    width:100vw;
    background-color: black;
    position: fixed;
    top:0;
    display: flex;
    justify-content: space-between;
    z-index: 2;
}

footer{
    background-color: black;
    position: relative;
    display: flex;
    bottom: 0;
    width:100%;
    height: auto;
    flex-direction: column;
}
.sections{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width:100vw;
    height: auto;
}

nav img{
    height: 6vh;
    align-self: center;
    margin: 0 1vw;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 1vw;
}

.links a{
    margin:0 0.4vw;
    color: rgb(216, 180, 84);
    text-decoration: none;
    font-size: 1.1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.links a:hover{
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin:10%;
    width: 80vw;
    flex-wrap: wrap;
}

@media(max-width:853px){
    .left .images{
        flex-direction: row;
        margin-top: 8vh ;
        margin-bottom: 3vh;
    }
    .left .images img{
        margin:0 1vw;
    }
}
.left{
    display: flex;
    flex-direction: row;
    margin-right: 3%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.left .image{
    height: 60vh;
    border-radius: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin:0 3vw;
}

.images img{
    height: 10vh;
    margin:0.5vw 0;
    opacity: 0.5;
    border-radius: 0.5em;
    
}

.images img:hover{
    opacity: 1!important;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.right h2{
    margin-bottom: 12%;
    font-size:3em;
}

.firstsection{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 300px;
    
}
.firstsection ,.secondsection, .thirdsection{
    margin-top: 2vh;
}
.firstsection p{
    color: white;
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.firstsection img{
    height: 10vh;
}

.secondsection{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px 0;
}

.face,.insta{
    background-color: white;
    height: 43px;
    width:43px;
    border-radius: 100%;
    margin:0 0.3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.face img,.insta img{
    height: 25px;
    width:25px;
    
}

.face:hover{
    background-color: blue;
}
.insta:hover{
    background-color: #b60988;
}


.thirdsection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 300px;
}
.thirdsection .linksfooter{
    display: flex;
    flex-direction: column;
}
.linksfooter a{
    text-decoration: none;
    color: white;
    margin-top: 8px;
}
footer h2{
    color: white;
}
