<!--
<img (click)="light($event)" src="../../assets/light-mode.png" />
<img #ss (click)="dark(ss)" src="../../assets/night-mode.png" />
<div [style.backgroundColor]="mode? 'white':'black'" [style.color]="mode? 'black':'white'">
  <input #ff (keyup.a)="dark(ff)" />


<p>home works!</p>

<h1>hello my first angular project</h1>

</div>
 -->


 <div class="home">
  <div class="left">
    <div class="images">

      <img #first (click)="getimage(first)" src="https://iili.io/HnpsgFR.jpg" alt="first image">
      <img #second (click)="getimage(second)" class="image2" src="https://iili.io/HnpsS6v.jpg" alt="second image">
      <img #third (click)="getimage(third)" src="https://iili.io/HnyK83N.jpg" alt="third image">
      <img #fourth (click)="getimage(fourth)" src="https://iili.io/HnyKk4p.jpg" alt="fourth image">

    </div>
    <img [src]="image" alt=""/>
  </div>
  <div class="right">
    <h1>imaginary world</h1>
    <pre>Description : I believe that the nature has massive impact on our
              personalities ,that makes each one of us has a world of his own
              creation

Dimensions : 50x60

Background Material : wood

Color Type : oil colors

If you are interested to buy or for any inquiries Click Here
    </pre>

  </div>


 </div>
