h1{
    color: blue;
}
body{
    background-image: url("E:/worker_2245238.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}