<footer>
  <div class="firstsection">
    <img src="../../assets/logo.jpg" alt="logo">
    <p>
      Family is like branches on a tree, we grow in different directions yet our roots remain as one.. From this point, our artistic family decided to Publish our art, fill your walls with art , color your life and spread happiness.
    </p>
  </div>
  <div class="secondsection">
    <h2>Contact Info</h2>
    <div>
      <img src="https://tree-artvision.great-site.net/img/facebook.webp" alt="facebook"/>
    </div>
  </div>
  <div class="thirdsection"></div>

  <hr style="background-color: white;">
  
 <p style="display: flex;justify-content:center">Copyright ©2022 All rights reserved to Tree Art Vision.</p>
</footer>
