<footer>
  <div class="sections">
  <div class="firstsection">
    <img src="../../assets/logo.jpg" alt="logo">
    <p>
      Family is like branches on a tree, we grow in different directions yet our roots remain as one.. From this point, our artistic family decided to Publish our art, fill your walls with art , color your life and spread happiness.
    </p>
  </div>
  <div class="secondsection">
    <h2>Contact Info</h2>
    <div class="icons">
    <div class="face">
      <img src="../../assets/facebook.webp" alt="facebook"/>
    </div>
    <div class="insta">
      <img src="../../assets/instagram.png" alt="instgram"/>
    </div>
  </div>
  </div>
  <div class="thirdsection">
    <h2>Main Links</h2>
    <a href="">Home</a>
    <a href="">Sketches</a>
    <a href="">Decorative Pieces</a>
    <a href="">Workshops</a>
    <a href="">About</a>
  </div>
</div>
  <hr style="border: 1px solid white;width: 95vw;margin-top: 10px;">

<p style="display: flex;justify-content:center;margin: 20px 0;">Copyright ©2022 All rights reserved to Tree Art Vision.</p>
</footer>
