footer{
  height: 30vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: row;
}
.firstsection img{
  height: 10vh;

}
.firstsection{
  width: 25vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
